In [74]:
import PyPDF2
import csv
import requests
import pandas as pd

In [31]:
reader = PyPDF2.PdfReader('[1]Kimly Group List of Applicable Outlets for Dining Voucher Suppliers _ Kimly Group _ The flavours of Life.pdf')

In [161]:
def postaldetect( text_chunk ):
    for i in range(0,len(text_chunk) ):
        if text_chunk[i] == 'S' and text_chunk[i+1:i+1+6].isnumeric():
            return (text_chunk[i:i+1+6])
        elif len(text_chunk) > 1:
            return postaldetect( text_chunk [i+1:] )
        else:
            return 0

# RECURSIVE CODE TO DERIVE POSTAL CODES FROM TEXTS
        
def postal_tabulator ( text_chunk , dict1 ): # PLACES POSTAL CODE INTO A DICTIONARY
    postal = postaldetect ( text_chunk )
    print(postal)
    if postal != 0:
        text_chunk_split = text_chunk.split(postal)
        dict1 [ postal ] = text_chunk_split [0]
        
        #recursively feeds in the remainder text to retrieve the postal codes
        postal_tabulator ( text_chunk_split [1] , dict1 ) 
    else: #the recursive 
        return dict1

def postal_tabulator1 ( text_chunk , df ): # PLACES POSTAL CODE INTO A DATAFRAME
    length = len(df)
    postal = postaldetect ( text_chunk )
    print(postal)
    if postal != 0:
        text_chunk_split = text_chunk.split(postal)
        if len(text_chunk_split) >2:
            print('DoublePostal')
            postal_tabulator1 ( text_chunk_split [2] , df ) 
        else:
            df.at[length,'postal'] = postal
            df.at[length,'address'] = text_chunk_split [0]
            postal_tabulator1 ( text_chunk_split [1] , df ) 
    else:
        return df

In [127]:
df1 = pd.DataFrame()
df1['postal'] = ''
df1['address'] = ''

postal_tabulator1(reader.pages[12].extract_text().replace('\n',' ') [92:] , df1 )

S360001
S760101
S151116
S470121
S460123
S730131
S600132
S530134
S521138
S680143
S350146
S550147
0

In [128]:
df1

     postal                                            address
0   S360001         1Blk 1 Upper Aljunied Lane #01-02 S'360001
1   S760101   24 Hours 2Blk 101 Yishun Ave 5, #01- 55 S'760...
2   S151116   24 Hours 3Blk 116 Bukit Merah View #01-253 Si...
3   S470121  6.30am to 11.00pm 4Blk 121 Bedok Reservoir Rd,...
4   S460123   24 Hours 5Blk 123 Bedok North Street 2 #01-14...
5   S730131   24 Hours 6Blk 131 Marsiling Rise #01- 206 S'7...
6   S600132   24 Hours 7Blk 132 Jurong Gateway Road #01-273...
7   S530134  6.00am to 12.00am 8Blk 134 Lor Ah Soo #01- 454...
8   S521138  7.00am to 11.00pm 9Blk 138 Tampines St. 11, #0...
9   S680143   24 Hours 10Blk 143 Teck Whye Lane, #01-243 S'...
10  S350146  6.00am to 10.00pm 11Blk 146 Potong Pasir Ave 1...
11  S550147   24 Hours 12Blk 147 Serangoon North Ave 1, #01...

In [72]:
reader.pages[12].extract_text().replace('\n',' ') [92:]

"1Blk 1 Upper Aljunied Lane #01-02 S'360001S360001 24 Hours 2Blk 101 Yishun Ave 5, #01- 55 S'760101.S760101 24 Hours 3Blk 116 Bukit Merah View #01-253 Singapore 151116S1511166.30am to 11.00pm 4Blk 121 Bedok Reservoir Rd, #01-210 S'470121S470121 24 Hours 5Blk 123 Bedok North Street 2 #01-142 S'460123S460123 24 Hours 6Blk 131 Marsiling Rise #01- 206 S'730131S730131 24 Hours 7Blk 132 Jurong Gateway Road #01-273 S'600132S6001326.00am to 12.00am 8Blk 134 Lor Ah Soo #01- 454 Singapore 530134S5301347.00am to 11.00pm 9Blk 138 Tampines St. 11, #01-116 S'521138S521138 24 Hours 10Blk 143 Teck Whye Lane, #01-243 S'680143S6801436.00am to 10.00pm 11Blk 146 Potong Pasir Ave 1, #01-127 S'350146.S350146 24 Hours 12Blk 147 Serangoon North Ave 1, #01-419 S'550147.S550147 24 Hours10/13/24, 12:01 AM Kimly Group List of Applicable Outlets for Dining Voucher Suppliers | Kimly Group | The flavours of Life https://kimlygroup.sg/kimly-group-list-of-applicable-outlets-for-dining-voucher-sup/ 13/19"

In [137]:
text = ''
for i in range(12,18):
    text = text + ' ' + reader.pages[i].extract_text().replace('\n',' ')

In [162]:
df1 = pd.DataFrame()
df1['postal'] = ''
df1['address'] = ''

postal_tabulator1(text [92:] , df1 )

S360001
S760101
S151116
S470121
S460123
S730131
S600132
S530134
S521138
S680143
S350146
S550147
S188425
S650150
S551153
S671163
S738725
S609966
S310184
S733187
S560202
S737854
S730211
DoublePostal
S640221
S560232
S760233
S550237
S530246
S161026
S540266
S570280
S650292
S462029
S401002
S531003
S600303
S550304
S820322
S120325
S530327
S408868
S120345
S611346
S750365
S650371
S650376
S577178
S560408
S760418
S823421
S681429
S510444
S120450
S640496
S640501
S571514
S560555
S461057
S470631
S100065
DoublePostal
S640651
S730676
S530684
S730691
S080007
S555966
S560722
S521742
S200808
S520826
S520827
S760925
S560347
S650233
S238863
DoublePostal
S650347
S600346
S138607
0

In [165]:
for i in range(0,len(df1)):
    df1.at[i,'address'] = df1.at[i,'address'].replace(
        '10/13/24, 12:01 AM Kimly Group List of Applicable Outlets for Dining Voucher Suppliers | Kimly Group | The flavours of Life https://kimlygroup.sg/kimly-group-list-of-applicable-outlets-for-dining-voucher-sup/ 13/19','')

In [167]:
df1.to_csv('KimlyCoffeeshopPostal.csv')

In [166]:
df1

     postal                                            address
0   S360001         1Blk 1 Upper Aljunied Lane #01-02 S'360001
1   S760101   24 Hours 2Blk 101 Yishun Ave 5, #01- 55 S'760...
2   S151116   24 Hours 3Blk 116 Bukit Merah View #01-253 Si...
3   S470121  6.30am to 11.00pm 4Blk 121 Bedok Reservoir Rd,...
4   S460123   24 Hours 5Blk 123 Bedok North Street 2 #01-14...
..      ...                                                ...
70  S560347   24 Hours 73Blk 347 Ang Mo Kio Ave 3, #01-2150...
71  S650233  5.30am to 11.00pm 74Blk 233 Bukit Batok East A...
72  S650347  7.00am to 9.00pm 76Blk 347 Bukit Batok Street ...
73  S600346   24 Hours 77Blk 346 Jurong East St. 31, #01-71...
74  S138607   24 Hours 782 College Ave West, EduSports Comp...

[75 rows x 2 columns]